/*----------------------------------------------
				custom styles
----------------------------------------------*/
h1, h2, h3, h4, h5, h6{
	text-shadow: 3px 3px 3px #00B546;	
}
.form-group{
	width: 50%;
	height: 50vh;
	border: 2px double black;
	box-shadow: 10px 10px 10px #00B546;
}
.btn-form{
	width: 10rem;
	margin-top: 20px;
}
.btn-form:hover{
	width: calc(10rem + 20px);
}
.alert{
	height: 9vh;
}